---
<h1 align='center'><b>ADVANCE PYTHON ASSIGNMENT NO.25</b></h1>


---

<h4 align='justify'><b>Q1. What is the distinction between a numpy array and a pandas data frame? Is there a way to
convert between the two if there is?</b></h4>
<h4 align='justify'>Numpy is memory efficient. Pandas has a better performance when a number of rows is 500K or more. Numpy has a better performance when number of rows is 50K or less. Indexing of the pandas series is very slow as compared to numpy arrays.</h4>

- Mathematical operations which is not generally easy manually to perform in coding case.
- It may be of any dimensions like 1D, 2D, 3D, 4D, etc. depend upon the use to requirement.
- Unlike dataframe, numpy array are not in a tabular form which have records and have fields instead it is in the form of matrices.
- It can have single row and single column as well as but dataframe passes more than one column.
<h4><b>Dataframe :</b></h4>
- This is a kind of tabular structure format which are having more than one column.
- Unlike numpy array which can have more single as well as many number of columns, but dataframe have more than one column.
- Dataframe can have any number of dimensions but it should be more than one. We can use numpy array operation in dataframe and can also convert the numpy array into dataframe.
- We can convert between the two in following in manner:

In [1]:
import pandas as pd
import numpy as np
array = np.arange(10).reshape(2, 5)
array

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [2]:
df = pd.DataFrame(array)
df

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [3]:
df.to_numpy()

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

<h4 align='justify'><b>
Q2. What can go wrong when an user enters in a stock-ticker symbol, and how do you handle it?</b></h4>
<h4 align='justify'>A stock-ticker symbol change really means nothing to you, the investor, in the grand scheme of things. The change doesn't do anything to markets or to the way you execute trades. Since everything is electronic, your trading platform or broker will already update your portfolio to include the new stock-ticker symbol.</h4>

<h4 align='justify'><b>
Q3. Identify some of the plotting techniques that are used to produce a stock-market chart.</b></h4>
<h4 align='justify'>However, the four types that are most common are - <b>line chart, bar chart, histograms charts, pie charts, and Cartesian charts.</b> are used to produce a stock-market chart.</h4>

<h4 align='justify'><b>
Q4. Why is it essential to print a legend on a stock market chart?</b></h4>
<h4 align='justify'>In addition, <b>the legend displays information about the points that are currently hovered over or, if none are hovered over, about the last points shown on the plot.</b> The text of a legend item includes the name of a series and, depending on the series type, the value or values of the current last point.</h4>

<h4 align='justify'><b>
Q5. What is the best way to limit the length of a pandas data frame to less than a year?</b></h4>
<h4 align='justify'>Downcasting means we reduce the datatypes of each feature to its lowest possible type. We can check the size of the dataframe again. We see that we now have several 8, 16 and 32 bit columns and we have effectively cut the size of our dataframe in half by simply <b>Changing the data types.</b></h4>

<h4 align='justify'><b>
Q6. What is the definition of a 180-day moving average?</b></h4>
<h4 align='justify'>In finance, a moving average(MA) is a stock indicator commonly used in technical analysis. The reason for calculating the moving average of a stock is to help smooth out the price data by creating a constantly updated average price.</h4>
<h4 align='justify'>By calculating the moving average, the impacts of random, short-term fluctuations on the price of a stock over a specified time frame are mitigated.</h4>

<h4 align='justify'><b>
Q7. Did the chapter&#39;s final example use &quot;indirect&quot; importing? If so, how exactly do you do it?</b></h4>
<h4 align='justify'>An indirect exporter can sell to the following intermediary customers: export houses(trading houses or export merchants, confirming houses, and foreign organizations based in the organization's country.)</h4>